@using ShoeEcommers.LogicLayer.Entities
@model ShoeEcommers.LogicLayer.Entities.Products
@{
    ViewBag.Title = "Details";
}
@{
    List<ImagesSkus> imgMedium = Model.Skus.First().ImagesSkus.Where(i=>i.TypeImage == "Medium").ToList();
    List<ImagesSkus> imgLarge  = Model.Skus.First().ImagesSkus.Where(i => i.TypeImage == "Large").ToList();
    var colorsP = from s in Model.Skus
        from a in s.AttributeSkus
        group s by new {color = a.ValueLabel , valueColor = a.Label}
        into groupsColor
        select groupsColor;
    
}


<div class="clickoneroProductDetail">
    <div class="clickoneroProductImage">
        <div class="clickoneroProductImage-img"></div>
        <div class="clickoneroProductImageSoldOut">
            
        </div>
        <div class="clickoneroProductImage-carrusel">
            <div class="clickoneroProductImage-wrapper">
                <div class="clickoneroProductImage-slide">
                    @for(int i = 0; i< imgMedium.Count; i++)
                    {
                        if (i >= imgLarge.Count) {break;}
                        <img src="//@imgMedium[i].UrlImage" 
                            data-image="//@imgLarge[i].UrlImage">
                    }
                    
                </div>
            </div>
            <div class="clickoneroProductImage-scrollbar"></div>
        </div>
    </div>
    <div class="clickoneroProductDescription">
        <h2>LACE OFF-SHOULDER DRESS</h2>
        <h3>Pull &amp; Bear</h3>
        <div class="clickoneroProduct-div">
            <div class="clickoneroProduct-divsubdiv1"><span class="clickoneroProductActualPrice">$<span class="slideInput-price"></span></span><span class="clickoneroProductListPrice">$<span class="slideInput-realprice"></span></span></div>
            <div class="clickoneroProduct-divsubdiv2">
                <div class="clickoneroProduct-win"><span>GANA 500</span><em class="iconBit bit18px"><em class="iconBG"></em><em class="iconFont-bit"></em></em>
                </div>
                <input type="text" value="0" data-min="0"
                       data-max="@Model.Skus.First().ListPrice" data-step="2"
                       data-moveprice="true"
                       data-priceitem="slideInput-price"
                       data-price="@Model.Skus.First().Price"
                       data-realpriceitem="slideInput-realprice"
                       data-realprice="@Model.Skus.First().ListPrice"
                       data-percent="slideInput-percent" data-totalprice="true" 
                    data-totalpriceitem="slideInput-price" class="slider-input">
                <div class="clickoneroProductWinWinbits clickoneroProduct-save"><span>AHORRA <span class="slideInput-percent"></span>%</span></div>
            </div>
        </div>
        <h4>Color</h4>
        @using (Html.BeginForm())
        {
        <div class="clickoneroProductColor">
            @foreach (var color in colorsP)
            {
                <input type="radio" name="LookColor" value="@color.Key.color" data-color="@color.Key.valueColor">
            }
        </div>
            <div class="clickoneroProductMesure">
                <h4>Talla</h4>
                <div class="clickoneroProductSize">
                    @foreach (var sku in colorsP.First())
                    {
                        <input type="radio" name="LookSize"  value="@sku.Sku">
                    }
                    
                </div>
            </div>
            <div class="clickoneroProductQuantity">
                <h4>Cantidad</h4>
                <select data-clase="clickoneroSelect-cantidad" data-inputselect="true" class="clickoneroSelect" name="Quantity">
                    <option selected="selected">1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="clickoneroProductShare">
                <p>Comparte y gana <a href="#">learn more</a>
                </p><a href="#"><span title="Facebook" class="iconFont-facebook"></span></a><a href="#"><span title="Twitter" class="iconFont-twitter"></span></a><a href="#"><span title="Pinterest" class="iconFont-pinterest"></span></a>
            </div>
            <div class="clickoneroProductSubmit"><span>Termina en <strong>1 día, 10 hrs</strong></span>
                <!-- input.clickoneroBtn.clickoneroFancybox(type="submit", value="Waitinglist", data-fancyboxhref="waitinglist.html", data-fancyboxwidth="745")-->
                <input type="submit" value="Añadir a carrito" class="clickoneroBtn clickoneroBtnCart">
            </div>
            <input type="hidden" name="IdProduct" value="@Model.Id"/>
        }
        <div class="clickoneroProductTabs">
            <ul>
                <li><a href="#clickoneroPDTabDescription">DESCRIPCIÓN</a></li>
                <li><a href="#clickoneroPDTabSend">ENVIO</a></li>
                <li><a href="#clickoneroPDTabRefund">DEVOLUCIÓN</a></li>
                <li><a href="#clickoneroPDTabCare">CUIDADOS</a></li>
            </ul>
            <div id="clickoneroPDTabDescription" class="clickoneroPTTab">
                <p>The Lace off-shoulder dress is a densely hand embellished dres on an Italian shimmer base. The relaxed, simple silhouette juxtaposes with the provocative contrasting sheer and heavily embellished panels. Featuring gunmetal conicals combined with a mixture of textured black sequins, beads and hanging chains, this statement dress is both playful and seductive.</p>
                <p>Size 10 measures 73cm from back neck to hem.</p>
                <p>Fabric 100% Polyamide</p><a href="guiaTallas.html" data-fancyboxwidth="575" class="clickoneroFancybox">Guía de tallas</a>
            </div>
            <div id="clickoneroPDTabSend" class="clickoneroPTTab">
                <p>El tiempo estimado de entrega de producto es de 20 días naturales a partir de la finalización de la campaña.</p>
                <p>Una vez realizada tu compra no aplican cambios de tallas ni color del producto.</p>
            </div>
            <div id="clickoneroPDTabRefund" class="clickoneroPTTab">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cumque quam sed inventore fugiat? Tenetur, voluptatum, amet, ipsam repudiandae a eveniet ab neque sunt nihil nostrum voluptatem illum iusto in.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cumque quam sed inventore fugiat? Tenetur, voluptatum, amet, ipsam repudiandae a eveniet ab neque sunt nihil nostrum voluptatem illum iusto in.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cumque quam sed inventore fugiat? Tenetur, voluptatum, amet, ipsam repudiandae a eveniet ab neque sunt nihil nostrum voluptatem illum iusto in.</p>
            </div>
            <div id="clickoneroPDTabCare" class="clickoneroPTTab">
                <ul>
                    <li><span class="clickoneroIcon clickoneroCareIcon0"></span><span class="clickoneroCareText">No usar lejía</span>
                    </li>
                    <li><span class="clickoneroIcon clickoneroCareIcon1"></span><span class="clickoneroCareText">No usar secadora</span>
                    </li>
                    <li><span class="clickoneroIcon clickoneroCareIcon2"></span><span class="clickoneroCareText">No limpieza en seco</span>
                    </li>
                    <li><span class="clickoneroIcon clickoneroCareIcon3"></span><span class="clickoneroCareText">Limpieza en seco percloroetileno</span>
                    </li>
                    <li><span class="clickoneroIcon clickoneroCareIcon4"></span><span class="clickoneroCareText">Lavar a máquina max. 30° C.</span>
                    </li>
                    <li><span class="clickoneroIcon clickoneroCareIcon5"></span><span class="clickoneroCareText">Lavar a mano max. 30° C.</span>
                    </li>
                    <li><span class="clickoneroIcon clickoneroCareIcon6"></span><span class="clickoneroCareText">Planchar a 110° C. max</span>
                    </li>
                    <li><span class="clickoneroIcon clickoneroCareIcon7"></span><span class="clickoneroCareText">No planchar</span>
                    </li>
                    <li><span class="clickoneroIcon clickoneroCareIcon8"></span><span class="clickoneroCareText">No lavar</span>
                    </li>
                    <li><span class="clickoneroIcon clickoneroCareIcon9"></span><span class="clickoneroCareText">Se puede usar secadora a temperatura reducida</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <aside class="clickoneroProductLook">
        <h2>COMPLETA</h2>
        <div class="clickoneroProductLookCarousel">
            <div class="clickoneroProductLook-wrapper">
                <div class="clickoneroProductLookCarousel-slide">
                    <div class="clickoneroProductLookItem"><img src="/clickoneroInclude/images/assets/skirt1.jpg" alt="LACE OFF-SHOULDER DRESS">
                        <div class="clickoneroProductLook-hover"><a href="#">Chamarra<span>$540</span><span class="clickoneroCompraAhora">compra ahora</span></a>
                        </div>
                    </div>
                    <div class="clickoneroProductLookItem"><img src="/clickoneroInclude/images/assets/jacket1.jpg" alt="LACE OFF-SHOULDER DRESS">
                        <div class="clickoneroProductLook-hover"><a href="#">Chamarra<span>$540</span><span class="clickoneroCompraAhora">compra ahora</span></a>
                        </div>
                    </div>
                    <div class="clickoneroProductLookItem"><img src="/clickoneroInclude/images/assets/jacket2.jpg" alt="LACE OFF-SHOULDER DRESS">
                        <div class="clickoneroProductLook-hover"><a href="#">Chamarra<span>$540</span><span class="clickoneroCompraAhora">compra ahora</span></a>
                        </div>
                    </div>
                    <div class="clickoneroProductLookItem"><img src="/clickoneroInclude/images/assets/skirt1.jpg" alt="LACE OFF-SHOULDER DRESS">
                        <div class="clickoneroProductLook-hover"><a href="#">Chamarra<span>$540</span><span class="clickoneroCompraAhora">compra ahora</span></a>
                        </div>
                    </div>
                    <div class="clickoneroProductLookItem"><img src="/clickoneroInclude/images/assets/jacket1.jpg" alt="LACE OFF-SHOULDER DRESS">
                        <div class="clickoneroProductLook-hover"><a href="#">Chamarra<span>$540</span><span class="clickoneroCompraAhora">compra ahora</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>
<div class="clickoneroSuggestionRecentView">
    <div class="clickoneroSRV-divLink"><span data-show="clickoneroSuggestionDiv" data-hide="clickoneroRecentViewDiv">SUGGESTIONS</span><span data-show="clickoneroRecentViewDiv" data-hide="clickoneroSuggestionDiv">VISTOS RECIENTEMENTE</span></div>
    <div class="clickoneroSuggestionDiv clickoneroSRV">
        <div class="clickoneroSRV-carrusel">
            <div class="clickoneroSRV-wrapper">
                <div class="clickoneroSRV-slide"><img src="/clickoneroInclude/images/assets/sleeveless.jpg" alt="DENIM LOOK LEGGINGS">
                    <h3>Denim look leggings</h3>
                    <h4>Pull &amp; Bear</h4><span class="clickoneroSuggestionRecentViewPrice">$599</span>
                    <div class="clickoneroSuggestionRecentViewBuyNow"><a href="#" class="clickoneroSuggestionRecentViewButton"><span class="clickoneroCompraAhora">compra ahora</span></a>
                    </div>
                </div>
                <div class="clickoneroSRV-slide"><img src="/clickoneroInclude/images/assets/bluetransparent.jpg" alt="DENIM LOOK LEGGINGS">
                    <h3>Denim look leggings</h3>
                    <h4>Pull &amp; Bear</h4><span class="clickoneroSuggestionRecentViewPrice">$599</span>
                    <div class="clickoneroSuggestionRecentViewBuyNow"><a href="#" class="clickoneroSuggestionRecentViewButton"><span class="clickoneroCompraAhora">compra ahora</span></a>
                    </div>
                </div>
                <div class="clickoneroSRV-slide"><img src="/clickoneroInclude/images/assets/v-necksweater.jpg" alt="DENIM LOOK LEGGINGS">
                    <h3>Denim look leggings</h3>
                    <h4>Pull &amp; Bear</h4><span class="clickoneroSuggestionRecentViewPrice">$599</span>
                    <div class="clickoneroSuggestionRecentViewBuyNow"><a href="#" class="clickoneroSuggestionRecentViewButton"><span class="clickoneroCompraAhora">compra ahora</span></a>
                    </div>
                </div>
                <div class="clickoneroSRV-slide"><img src="/clickoneroInclude/images/assets/leatherbag.jpg" alt="DENIM LOOK LEGGINGS">
                    <h3>Denim look leggings</h3>
                    <h4>Pull &amp; Bear</h4><span class="clickoneroSuggestionRecentViewPrice">$599</span>
                    <div class="clickoneroSuggestionRecentViewBuyNow"><a href="#" class="clickoneroSuggestionRecentViewButton"><span class="clickoneroCompraAhora">compra ahora</span></a>
                    </div>
                </div>
                <div class="clickoneroSRV-slide"><img src="/clickoneroInclude/images/assets/leggings3.jpg" alt="DENIM LOOK LEGGINGS">
                    <h3>Denim look leggings</h3>
                    <h4>Pull &amp; Bear</h4><span class="clickoneroSuggestionRecentViewPrice">$599</span>
                    <div class="clickoneroSuggestionRecentViewBuyNow"><a href="#" class="clickoneroSuggestionRecentViewButton"><span class="clickoneroCompraAhora">compra ahora</span></a>
                    </div>
                </div>
                <div class="clickoneroSRV-slide"><img src="/clickoneroInclude/images/assets/sleeveless.jpg" alt="DENIM LOOK LEGGINGS">
                    <h3>Denim look leggings</h3>
                    <h4>Pull &amp; Bear</h4><span class="clickoneroSuggestionRecentViewPrice">$599</span>
                    <div class="clickoneroSuggestionRecentViewBuyNow"><a href="#" class="clickoneroSuggestionRecentViewButton"><span class="clickoneroCompraAhora">compra ahora</span></a>
                    </div>
                </div>
                <div class="clickoneroSRV-slide"><img src="/clickoneroInclude/images/assets/bluetransparent.jpg" alt="DENIM LOOK LEGGINGS">
                    <h3>Denim look leggings</h3>
                    <h4>Pull &amp; Bear</h4><span class="clickoneroSuggestionRecentViewPrice">$599</span>
                    <div class="clickoneroSuggestionRecentViewBuyNow"><a href="#" class="clickoneroSuggestionRecentViewButton"><span class="clickoneroCompraAhora">compra ahora</span></a>
                    </div>
                </div>
                <div class="clickoneroSRV-slide"><img src="/clickoneroInclude/images/assets/v-necksweater.jpg" alt="DENIM LOOK LEGGINGS">
                    <h3>Denim look leggings</h3>
                    <h4>Pull &amp; Bear</h4><span class="clickoneroSuggestionRecentViewPrice">$599</span>
                    <div class="clickoneroSuggestionRecentViewBuyNow"><a href="#" class="clickoneroSuggestionRecentViewButton"><span class="clickoneroCompraAhora">compra ahora</span></a>
                    </div>
                </div>
                <div class="clickoneroSRV-slide"><img src="/clickoneroInclude/images/assets/leatherbag.jpg" alt="DENIM LOOK LEGGINGS">
                    <h3>Denim look leggings</h3>
                    <h4>Pull &amp; Bear</h4><span class="clickoneroSuggestionRecentViewPrice">$599</span>
                    <div class="clickoneroSuggestionRecentViewBuyNow"><a href="#" class="clickoneroSuggestionRecentViewButton"><span class="clickoneroCompraAhora">compra ahora</span></a>
                    </div>
                </div>
                <div class="clickoneroSRV-slide"><img src="/clickoneroInclude/images/assets/leggings3.jpg" alt="DENIM LOOK LEGGINGS">
                    <h3>Denim look leggings</h3>
                    <h4>Pull &amp; Bear</h4><span class="clickoneroSuggestionRecentViewPrice">$599</span>
                    <div class="clickoneroSuggestionRecentViewBuyNow"><a href="#" class="clickoneroSuggestionRecentViewButton"><span class="clickoneroCompraAhora">compra ahora</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clickoneroArrows clickoneroArrowLeft"><span title="Anterior" class="iconFont-left3"></span></div>
        <div class="clickoneroArrows clickoneroArrowRight"><span title="Siguiente" class="iconFont-right3"></span></div>
    </div>
</div>


@section scripts
{
    <script>
        (function () {
            DocumentReady();
            $('.clickoneroSRV-carrusel').carouselSwiper({
                optionsSwiper: {
                    slideClass: 'clickoneroSRV-slide',
                    wrapperClass: 'clickoneroSRV-wrapper',
                    grabCursor: true,
                    loop: true,
                    useCSS3Transforms: false,
                    slidesPerView: 5,
                    cssWidthAndHeight: false
                },
                arrowLeft: '.clickoneroArrowLeft',
                arrowRight: '.clickoneroArrowRight',
                slidesNum: 5,
                loop: true,
                slideCSS: '.clickoneroSRV-slide'
            });
            $('.clickoneroProductImage-carrusel').carruselVerticalSwiper({
                slide: 'clickoneroProductImage-slide',
                wrapper: 'clickoneroProductImage-wrapper',
                scrollbar: '.clickoneroProductImage-scrollbar'
            });
            $('.clickoneroProductColor, .clickoneroProductSize').customRadio();
            $('.clickoneroProductImage').imageProduct({
                container: '.clickoneroProductImage-img',
                imgs: '.clickoneroProductImage-slide'
            });
            $('.clickoneroSRV-divLink').showDiv();
            $('.clickoneroProductTabs').tabs({
                collapsible: true,
                heightStyle: 'auto'
            });
        })();
    </script>
}
