@model ShoeEcommers.LogicLayer.Entities.ContactUs
@{
    ViewBag.Title = "Contacto";
}
<div class="clickoneroWrapper">
   <hr />
    <h2>Contactanos </h2>
    <hr/>
    @if (ViewBag.IsSaved == null)
    {
        using (Html.BeginForm())
        {
            <div class="dataTable">
                <table class="width50">
                    <tr>
                        <td>Nombre:</td>
                        <td>
                            @Html.TextBoxFor(m => m.FullName, new {@class = "clickoneroMainSearch"})
                            @Html.ValidationMessageFor(m => m.FullName, null, new {@class = "clickoneroErrorMsg"})
                        </td>
                    </tr>
                    <tr>
                        <td>Correo:</td>
                        <td>
                            @Html.TextBoxFor(m => m.Email, new {@class = "clickoneroMainSearch"})
                            @Html.ValidationMessageFor(m => m.Email, null, new {@class = "clickoneroErrorMsg"})
                        </td>
                    </tr>
                    <tr>
                        <td>Comentarios:</td>
                        <td>
                            @Html.TextAreaFor(m => m.Comments, new {@class = "clickoneroMainSearch"})
                            @Html.ValidationMessageFor(m => m.Comments, null, new {@class = "clickoneroErrorMsg"})
                        </td>
                    </tr>
                    <tr>
                        <td>Comentarios:</td>
                        <td><input type="submit" class="clickoneroBtn" value="Enviar"/></td>
                    </tr>
                </table>
            </div>
        }
    }
    else
    {
        <div><h2>Pronto nos pondremos en contacto contigo. Gracias!</h2></div>
    }
</div>