doctype html
html(lang="es", class="clickoneroVertical")
	include scaffolding/head.jade
	body
		div.clickoneroPreloader: p
		header: div#winbits-widget
		main.clickoneroMain.widgetWinbitsMain
			- var crt = 1
			include scaffolding/header.jade
			div.clickoneroWrapper
				div.clickoneroFilter.filterDepartment
					aside
						h3 Mujeres
						div.clickoneroFilter-div
							h4 Categorías
							each val in ['Deportes', 'Ropa', 'Joyería', 'Accesorios', 'Bolsos', 'Calzado', 'Ofertas Locales', 'Salud y Belleza']
								a(href="#") #{val}
						div.clickoneroFilter-div
							h4 Marcas
							each val in ['Ralph Laurent', 'Champs', 'Armani Woman']
								a(href="#") #{val}
					div.clickoneroFilter-products
						- var filtro = 3
						include scaffolding/filtro.jade
						div.clickoneroFP-banners
							div.clickoneroFPB-carrusel
								div.clickoneroFPB-wrapper
									- for (i=0;i<2;i++)
										each val in [[{banner: 'swatch', top1: 290, left1: 400, color1: '#f00', top2: 266, left2: 545, color2: '#000'}], [{banner: 'campania', top1: 190, left1: 400, color1: '#f00', top2: 166, left2: 545, color2: '#fc0'}]]
											div.clickoneroFPB-slide
												a(href="#"): img(src="clickoneroInclude/images/assets/#{val[0].banner}.jpg", alt="Relojes SWATCH")
												a.iconBlock.iconFont-cruz.clickoneroToolTip(href="#", data-tooltip="Reloj Negro", data-top="#{val[0].top1}", data-left="#{val[0].left1}", style="color: #{val[0].color1}")
												a.iconBlock.iconFont-cruz.clickoneroToolTip(href="#", data-tooltip="Reloj Azul", data-top="#{val[0].top2}", data-left="#{val[0].left2}", style="color: #{val[0].color2}")
										div.clickoneroFPB-slide
											each val in [[{size: 'largeBanner', banner: 'campania', top1: 69, left1: 140, color1: '#f00', top2: 26, left2: 55, color2: '#000'}], [{size: 'halfBanner', banner: '2_1', top1: 190, left1: 30, color1: '#f00', top2: 166, left2: 45, color2: '#fc0'}], [{size: 'halfBanner', banner: '2_2', top1: 90, left1: 140, color1: '#f00', top2: 26, left2: 54, color2: '#ed0'}]]
												div.clickoneroFPB-banner(class="#{val[0].size}")
													a(href="#"): img(src="clickoneroInclude/images/assets/#{val[0].banner}.jpg", alt="Relojes SWATCH")
													a.iconBlock.iconFont-cruz.clickoneroToolTip(href="#", data-tooltip="Reloj Negro", data-top="#{val[0].top1}", data-left="#{val[0].left1}", style="color: #{val[0].color1}")
													a.iconBlock.iconFont-cruz.clickoneroToolTip(href="#", data-tooltip="Reloj Azul", data-top="#{val[0].top2}", data-left="#{val[0].left2}", style="color: #{val[0].color2}")
							div.iconFontArrow.iconFontArrow-prev
								span.iconFont-left
								span.iconFont-rightA
							div.iconFontArrow.iconFontArrow-next
								span.iconFont-right
								span.iconFont-leftA
						div.clickoneroFP-carousels
							h2 Productos más vendidos Mujeres
							div.clickoneroFPHS-carrusel.carrusel-filterProduct
								div.clickoneroFPHS-wrapper
									- for (i=1;i<3;i++)
										div.clickoneroFPHS-slide
											+productDiv('leggings7', 1)
										div.clickoneroFPHS-slide
											+productDiv('leggings8')
										div.clickoneroFPHS-slide
											+productDiv('leggings9', 1)
										div.clickoneroFPHS-slide
											+productDiv('leggings10')
										div.clickoneroFPHS-slide
											+productDiv('leggings1', 1)
										div.clickoneroFPHS-slide
											+productDiv('leggings6')
										div.clickoneroFPHS-slide
											+productDiv('leggings7', 1)
										div.clickoneroFPHS-slide
											+productDiv('leggings8')
							div.iconFontArrow.iconFontArrow-prev
								span.iconFont-left
							div.iconFontArrow.iconFontArrow-next
								span.iconFont-right
						div.clickoneroFP-carousels
							h2 Servicios más vendidos Mujeres
							div.clickoneroFPHS-carrusel.carrusel-filterService
								div.clickoneroFPHS-wrapper
									- for (i=1;i<3;i++)
										div.clickoneroFPHS-slide
											+viajesDiv('2_1', 1)
										div.clickoneroFPHS-slide
											+viajesDiv('2_2', 1)
										div.clickoneroFPHS-slide
											+viajesDiv('2_3', 1)
										div.clickoneroFPHS-slide
											+viajesDiv('2_4', 1)
							div.iconFontArrow.iconFontArrow-prev
								span.iconFont-left
							div.iconFontArrow.iconFontArrow-next
								span.iconFont-right
		include scaffolding/footer.jade
		script.
			(function(){
				DocumentReady();
				$('.clickoneroFilter-div').customCheckbox();
				$('.clickoneroFP-productSize').customRadio();
				$('.clickoneroFPB-carrusel').carouselSwiper({
					optionsSwiper: {
						slideClass: 'clickoneroFPB-slide',
						wrapperClass: 'clickoneroFPB-wrapper',
						grabCursor: true,
						loop: true
					},
					arrowLeft: '.iconFontArrow-prev',
					arrowRight: '.iconFontArrow-next',
					loop: true,
					slideCSS: '.clickoneroFPB-slide',
					calculateHeight: true
				});
				$('.carrusel-filterProduct').each(function(){
					$(this).carouselSwiper({
						optionsSwiper: {
							slideClass: 'clickoneroFPHS-slide',
							wrapperClass: 'clickoneroFPHS-wrapper',
							grabCursor: true,
							loop: true,
							slidesPerView: 4,
							onSlideClick: function(swiper){
								$('.clickoneroFP-productSize').customRadio({justClick: true});
							},
							onSwiperCreated: function(swiper){
								$(swiper.activeSlide()).find('.clickoneroFP-overlay').trigger('click');
								$(swiper.activeSlide()).find('.clickoneroToolTip').trigger('mouseover');
							}
						},
						arrowLeft: '.iconFontArrow-prev',
						arrowRight: '.iconFontArrow-next',
						loop: true,
						slideCSS: '.clickoneroFPHS-slide',
						calculateHeight: true,
						slidesNum: 4
					});
				});$('.carrusel-filterService').each(function(){
					$(this).carouselSwiper({
						optionsSwiper: {
							slideClass: 'clickoneroFPHS-slide',
							wrapperClass: 'clickoneroFPHS-wrapper',
							grabCursor: true,
							loop: true,
							slidesPerView: 2,
							onSlideClick: function(swiper){
								$('.clickoneroFP-productSize').customRadio({justClick: true});
							},
							onSwiperCreated: function(swiper){
								$(swiper.activeSlide()).find('.clickoneroFP-overlay').trigger('click');
								$(swiper.activeSlide()).find('.clickoneroToolTip').trigger('mouseover');
							}
						},
						arrowLeft: '.iconFontArrow-prev',
						arrowRight: '.iconFontArrow-next',
						loop: true,
						slideCSS: '.clickoneroFPHS-slide',
						calculateHeight: true,
						slidesNum: 2
					});
				});
				$('.clickoneroFilter-div').resizeFilter();
				$('.datePicker-div').chooseDate();
				$('.iconBlock').point();
			})();